.item{
    border: 2px solid black;
    padding: 10px;
    display: grid;
    grid-template-rows: 300px 1fr auto;
    gap: 10px;
}

.item img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}
.btns{
    display: flex;
    flex-direction: column;
    gap: 10px;
}